<%=javascript_include_tag 'semantic.min.js'%>
<%=stylesheet_link_tag 'semantic.min'%>
<div class="row">
	<div class="two wide column">A</div>
	<div class="fourteen wide column">B</div>
</div>

<div class="ui sixteen column grid">
	<div class="row">
      <div class="column">A</div>
	</div>
	
</div>